/* Add CSS Styling */

p {
    background-color: lightpink;
    font: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#div1 {
    color: blue;
    font-size: 36px;
}

.p2 {
    font-size: 24px;
}

#div2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}