/* Add CSS Styling */
.blackbutton {
    background-color: black;
    color:white
}

.yellowbutton {
    background-color: yellow;
}

button {
    font-size: 28px;
    font: 'Helvetica', 'Times New Roman', 'sans-serif';

}